<form method="post" action="{{ path('app_baby_delete', {'id': baby.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ baby.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
