{% extends 'back.html.twig' %}

{% block title %}New Baby{% endblock %}

{% block body %}
    <h1 style ="margin-top:100px;">Create new Baby</h1>

    {{ include('baby/_form.html.twig') }}

   
{% endblock %}
