<form method="post" action="{{ path('app_info_medicaux_delete', {'id': info_medicaux.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info_medicaux.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
