{% extends'baseBackOffice.html.twig' %}


{%
block
javascripts %}


{%
endblock %}


{%
block
body %}
   
<script
src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {{
dump(data)
 }}
   
<div
style="width:
 100%; margin: auto;">
       
<canvas
id="bloodtypeChart"
width="450"
height="200"></canvas>
   
</div>


   
<center>
       
<a
class="btn
 btn-primary"
style="width:20%;
 margin : 50px"
href="{{
 path('app_info_medicaux_index') }}">Back
 to List</a>
   
</center>


   
<script>
       
const
data
= {{
data
|
json_encode|raw
 }};
       
console.log(data);
// Debugging line


       
const
labels
=
data.map(item
=>
item.BloodType);
       
const
values
=
data.map(item
=>
parseInt(item.totalBloodType));
// Convert to integers




       
const
ctx
=
document.getElementById('bloodtypeChart').getContext('2d');
       
console.log("Chart.js
 loaded");
// Debugging line
       
new
Chart(ctx,
 {
           
type:
'bar',
           
data: {
               
labels:
labels,
               
datasets: [{
                   
label:
'Statistic des etats civil des voyageur',
                   
data:
values,
                   
backgroundColor: ['purple',
'orange',
'green',
'red','bleu','pink','black','yellow'],
// Customize colors as needed
                }],
            },
           
options: {
               
scales: {
                   
y: {
                       
beginAtZero:
true
                    }
                }
            }
        });
   
</script>
{%
endblock %}
