{% extends 'back.html.twig' %}

{% block title %}New InfoMedicaux{% endblock %}

{% block body %}
    <h1 style="margin-left: 150px">Create new InfoMedicaux</h1>

    {{ include('info_medicaux/_form.html.twig') }}

    
{% endblock %}
