{% extends 'base.html.twig' %}
{% block header %}  {% endblock %}
{% block body %}
    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

        <img src="frontOffice/assets/img/hero-bg.webp" alt="" style="opacity: 0.5;" >

        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2>You're now registered</h2>
                    <p>To access your account , please check your email for email verification.</p>
                </div>
            </div>
        </div>

    </section><!-- End Hero Section -->

    <style>
        .error-message {
            color: #AB3319;
            font-size: 14px;
            margin-top: 5px;
        }
        .is-invalid {
            border-color: #AB3319;
        }
    </style>
{% endblock %}
   {% block footer %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>BellyBump</span>
          </a>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
       
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>Petite Ariana </p>
          <p>Ariana,Esprit</p>
          <p>Tunisia</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+216 90 680 241</span></p>
          <p><strong>Email:</strong> <span>bellybump@gmail.com</span></p>
        </div>
      </div>
    </div>
    </div>
  </footer><!-- End Footer -->{% endblock %}