{% extends 'base.html.twig' %}
{% block header %}  {% endblock %}
{% block body %}
 <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

      <img src="frontOffice/assets/img/hero-bg.webp" alt="" style="opacity: 0.5;" >

      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2>Congratulations!</h2>
            <p>Your email has been successfully confirmed.</p>
          </div>
          <div class="col-lg-5">
            <a href="{{ path('app_register') }}" class="btn btn-danger" style="background-color: #AB3319;">Sign In</a>
          </div>
        </div>
      </div>

    </section><!-- End Hero Section -->

    <style>
        .error-message {
            color: #AB3319;
            font-size: 14px;
            margin-top: 5px;
        }
        .is-invalid {
            border-color: #AB3319;
        }
    </style>
{% endblock %}
