{# templates/produit/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <h1>Ajouter un produit</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Enregistrer</button>
    {{ form_end(form) }}



{% endblock %}
