   <h1 style="color: #AB3319;">Welcome to BellyBump!</h1>

<p>
    Dear mother,<br><br>
    Thank you for participate in our Event : <h3>{{Event.name}}</h3> <br> Thanks to join the event on {{Event.day|date("d F, Y")}} at {{Event.heureDebut|date("H:i")}}
    Click on the following link and put this Meeting code : <strong style="color: #AB3319"> {{Event.MeetingCode}} </strong></p>
     <p><a href="https://meet.google.com/" style="background-color: #AB3319; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Join</a></p>

                <p>Best regards,<br>BellyBump</p>
</p>
