{% extends 'baseBackOffice.html.twig' %}


{% block title %}Add a product{% endblock %}
{% block main%}
    <style>
        .my-button {
            margin-top: 20px; /* Ajustez cette valeur selon vos besoins */
        }
    </style>
    <br><br><br><br>
    <!-- Bouton pour la redirection vers la liste des produits -->
    <a href="{{ path('show_back_product') }}" class="btn btn-secondary">Show list of products</a>
    <h1>Add a product</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">add</button>
    {{ form_end(form) }}



{% endblock %}



