{% extends 'back.html.twig' %}

{% block title %}New Doctor{% endblock %}

{% block body %}
    <h1 style ="margin-top:100px;margin-left:200px;margin-bottom:-100px">Create new Doctor</h1>

    {{ include('med/_form.html.twig') }}

    <a href="{{ path('app_med_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
