{% extends 'back.html.twig' %}

{% block title %}New Doctor{% endblock %}

{% block body %}
    <h1>Create new Doctor</h1>

    {{ include('med/_form.html.twig') }}

    <a href="{{ path('app_med_index') }}">back to list</a>
{% endblock %}
